<section>
    <form>
        <div class="form-group">
            <label for="exampleFormDataExam" class="col-sm-2 col-form-label"><b>DATA ESAME</b></label>
            <div class="col-sm">
                <input type="date" class="form-control" id="exampleFormDataExam" value="{{exampComplete.dataexam}}">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormHourExam" class="col-sm-2 col-form-label"><b>ORA ESAME</b></label>
            <div class="col-sm">
                <input type="time" class="form-control" id="exampleFormHourExam" value="{{exampComplete.hourexam}}">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormTipologia" class="col-sm-2 col-form-label"><b>TIPOLOGIA</b></label>
            <div class="col-sm">
                <select class="form-control" id="exampleFormTipologia">
                    <option>Ambulatoriale</option>
                    <option>Domicialiare</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormMotivo" class="col-sm-2 col-form-label"><b>MOTIVO</b></label>
            <div class="col-sm">
                <select class="form-control" id="exampleFormMotivo">
                    <option selected>Prima Visita</option>
                    <option>Controllo</option>
                    <option>Urgenza</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormAnamnesi" class="col-sm-2 col-form-label"><b>ANAMNESI</b></label>
            <div class="col-sm">
                <textarea class="form-control" id="exampleFormAnamnesi">{{exampComplete.anamnesis}}</textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="save()">SALVA</button>
        <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="delete()">CANCELLA</button>
    </form>
</section>