<header class="p-3 mb-2">
    <blockquote class="blockquote text-center">
        <h1 class="display-2">{{titlecop}}</h1>
    </blockquote>
</header>
<br>
<div class="card">
    <h5 class="card-header">PAZIENTE</h5>
    <div class="card-body">
        <h5 class="card-title"><strong>{{patient.name}} {{patient.surname}}</strong></h5>
        <p class="card-text">
            <strong>DATA DI NASCITA</strong> {{patient.birthday}}
        </p>
        <footer class="blockquote-footer">{{patient.fiscalcode}}</footer>
    </div>
</div>
<p></p>
<div class="btn-group btn-group-lg" role="group">
    <div class="btn-group float-sm-left" role="group">
        <button type="submit" class="btn btn-success btn-lg btn-block float-sm-left" (click)="insert()">NUOVO
            ESAME</button>
    </div>
    <div class="btn-group float-sm-right" role="group">
        <button type="submit" class="btn btn-success btn-lg btn-block float-sm-right"
            (click)="caricaListaEsami()">STORICO
            ESAMI</button>
    </div>
</div>
<p></p>
<div *ngIf="errorsapi" class="alert alert-danger" role="alert">
    <strong>Si è verificato un errore. Riprovate più tardi</strong>
</div>
<div *ngIf="messageok" class="alert alert-success" role="alert">
    <strong>Operazione di {{state}} andata a buon fine. </strong>
</div>
<div *ngIf="!errorsapi && visibleExamList">
    <section>
        <div *ngIf="examList.length < 1" class="alert alert-warning" role="alert">
            Il paziente non ha esami registrati.
        </div>
        <table *ngIf="examList.length > 0" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><b>DATA</b></th>
                    <th scope="col"><b>ORA</b></th>
                    <th scope="col"><b>MOTIVO</b></th>
                    <th scope="col"><b>TIPOLOGIA</b></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exam of examList;let i=index">
                    <td>{{exam.dateexam}}</td>
                    <td>{{exam.hourexam}}</td>
                    <td>{{exam.justification}}</td>
                    <td>{{exam.examtype}}</td>
                    <td>
                        <div class="btn-group btn-group-lg float-sm-right" role="group">
                            <div class="btn-group float-sm-right" role="group">
                                <button type="submit" class="btn btn-warning btn-lg"
                                    (click)="selectexamforupdate(exam.idexams)">MODIFICA
                                    ESAME</button>
                            </div>
                            <div class="btn-group float-sm-right" role="group">
                                <button type="submit" class="btn btn-danger btn-lg"
                                    (click)="deleteexam(exam.idexams)">CANCELLA
                                    ESAME</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<section *ngIf="!errorsapi && visibleFormSave">
    <div *ngIf="errorsValidation.length > 0" class="alert alert-danger" role="alert">
        <strong>{{errorsValidation}}</strong>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="validateForm(formGroup.value)">
        <div class="form-group">
            <label for="exampleFormDataExam" class="col-sm-2 col-form-label"><b>DATA ESAME</b> <span class="bold-red">*</span></label>
            <div class="col-sm">
                <input type="date" class="form-control" id="exampleFormDataExam" formControlName="dataexam" required>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormHourExam" class="col-sm-2 col-form-label"><b>ORA ESAME</b></label>
            <div class="col-sm">
                <input type="time" class="form-control" id="exampleFormHourExam" formControlName="hourexam">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormTipologia" class="col-sm-2 col-form-label"><b>TIPOLOGIA</b> <span class="bold-red">*</span></label>
            <div class="col-sm">
                <select class="form-control" id="exampleFormTipologia" formControlName="typeexam" required>
                    <option>Ambulatoriale</option>
                    <option>Domiciliare</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormMotivo" class="col-sm-2 col-form-label"><b>MOTIVO</b> <span class="bold-red">*</span></label>
            <div class="col-sm">
                <select class="form-control" id="exampleFormMotivo" formControlName="motivoexam" required>
                    <option>Prima Visita</option>
                    <option>Controllo</option>
                    <option>Urgenza</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormAnamnesi" class="col-sm-2 col-form-label"><b>ANAMNESI</b> <span class="bold-red">*</span></label>
            <div class="col-sm">
                <textarea class="form-control" id="exampleFormAnamnesi" formControlName="anamnesi"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">SALVA</button>
    </form>
    <br />
    <button type="submit" class="btn btn-secondary btn-lg btn-block" (click)="resetForm()">RESET FORM</button>
    <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="clear()">CANCELLA</button>
</section>
<p></p>
<br>
<button type="submit" class="btn btn-secondary btn-lg btn-block" (click)="back()">torna indietro</button>